<style>
    img {
    max-width: 50%;
    height: auto;
    }
    </style>
<p class="site-intro">
    <img src="static/avatar.png">
    <br>
    Hi! I am Risikesh Ravilichitty! I work at <a href="https://www.qualcomm.com">Qualcomm</a> as Pre-Silicon Performace Engineer.
    <br>
    I graduated from <a href="https://www.iiitb.ac.in">International Institute of Information Technology Bangalore</a> with a Integrated Mtech (BTech + MTech) 
    Degree with a specialistion in VLSI & Systems in 2021.My interests lie in the area of computer systems 
    mainly but sometimes wander around other domains in computer science and electronics, I'm exploring different 
    niches in the field, will be bloging on it to understand how computers work :) .
    <br>
    In my free time i like to Read Blog's on Tech and Geo-Politics, and Cycle around the city in the morning 🚲.    
</p>
