<style>
    img {
    max-width: 50%;
    height: auto;
    }
    </style>
<p class="site-intro">
    <img src="static/avatar.png">
    <br>
    Hi! I am Risikesh Ravilichitty! I work at Qualcomm as Pre-Silicon Performace Engineer.
    <br>
    <br>
    I graduated from International Institute of Information Technology Bangalore with a Integrated Mtech (BTech + MTech) Degree with a specialistion in VLSI & Systems in 2021.
    <br>
    My interests lie in the area of computer systems mainly but sometimes wander around other domains 
    in computer science and electronics, I'm exploring different niches in the field, will be bloging on it
    to help Layman understand how computers work.

</p>
