<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="page-content">
      {{ content }}
      <div class="copyright">
        <p>&copy; {{ site.time | date: '%Y' }} <a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}"><strong>{{ site.title }}</strong></a> ― <a href="https://www.linkedin.com/in/rkrisi/"><strong>LinkedIn</strong></a> ― <a href="https://twitter.com/risikeshrk"><strong>Twitter</strong></a> ― <a href="https://www.github.com/risikesh"><strong>Github</strong></a> - <a href = "mailto:hi@risr.in"><strong>Mail</strong></a> </p>
      </div>
    </div>
    {% include google_analytics.html %}
  </body>
</html>
